@import "tailwindcss";

:root {
  --background: #FBFFFB;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBFFFB;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 6px;
  background: black;
  color: #417360;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #929292; 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #417360; 
}